@import './vars.scss';

@mixin ButtonCss {
  color: white;
  background-color: $MainColor;
  padding: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  padding: 1.2rem;
  &:active {
    transform: scale(0.98);
    box-shadow: 4px 4px 22px 5px rgba(0, 0, 0, 0.24);
  }
  &:focus {
    background-color: $MainColor;
    color: black;
  }
}
.LandingContainer {
  background: white;
  margin: 60px 0px 60px 0px;
  width: 480px;
  height: 800px;
  overflow-y: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 50px #696969;
  .row {
    height: 800px;

    .column {
      display: flex;
    }
    .leftSide {
      margin-left: 10%;

      .LandingPageName {
        font-size: 2.4rem;
        color: #162c49;
        &::after {
          content: '|';
          background: black;
          display: block;
          font-size: 3px;
          font-weight: 900;
        }
      }
      .ButtonTabs {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        // button:not(:focus) {
        //   background-color: white;
        //   color: $NoneActiveColor;
        //   border: 2px solid $MainColor;
        // }
        .CreateButton {
          @include ButtonCss();
          width: 12rem;
        }
        .JoinButton {
          @include ButtonCss();
          margin-left: 20px;
          width: 12rem;
        }
      }
      .InputFields {
        margin-top: 5%;
        label {
          font-size: medium;
          font-weight: 600;
        }
        input {
          line-height: 3rem;
          border-radius: 25px;
          border-color: $MainColor;
          width: 27rem;
          padding-left: 24px;
          margin: 8px 0;
          font-size: 1rem;
        }

        .ChatroomNameInput {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .ChatroomPasswordInput {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
      .CreateJoinButton {
        @include ButtonCss();
        margin-top: 7%;
        width: 27rem;
        height: 4rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 50px;
      }
      .UserInfo {
        margin-top: 8%;
        margin-left: 1%;
        div {
          font-size: 1rem;
          a {
            color: blue;

            &:hover {
              color: red;
              cursor: pointer;
            }
          }
        }
        p {
          font-size: 1rem;
          a {
            color: blue;

            &:hover {
              color: red;
              cursor: pointer;
            }
          }
        }
        h4 {
          display: inline;
        }
      }
    }
  }
}
.column {
  float: left;
  width: 50%;
}
.column2 {
  visibility: hidden;
  float: left;
  height: 100%;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-image: url(https://media.istockphoto.com/vectors/geometry-minimalist-artwork-poster-with-simple-shape-and-blue-vector-id1256903282?k=20&m=1256903282&s=170667a&w=0&h=LTH8HOGLTl21Z50lfWr4LUToan7KRsJ5jc1tVu9dzUk=);
}
/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
/* 






*/
@media (min-width: $tabletSize) {
  .LandingContainer {
    width: 85%;
    height: 80vh;
    .row {
      height: 80vh;
      .leftSide {
        .LandingPageName {
          margin-top: 5%;
          &::after {
            content: '|';
            background: black;
            display: block;
            font-size: 3px;
            font-weight: 900;
          }
        }
        .ButtonTabs {
          justify-content: flex-start;
          margin-top: 5%;
          .CreateButton {
            width: 9rem;
          }
          .JoinButton {
            width: 9rem;
          }
        }
        .InputFields {
          input {
            width: 22rem;
          }
        }
        .CreateJoinButton {
          width: 22rem;
        }
      }
    }
  }
  .column {
    width: 60%;
  }

  .column2 {
    float: right;
    height: 100%;
    width: 40%;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.istockphoto.com/vectors/geometry-minimalist-artwork-poster-with-simple-shape-and-blue-vector-id1256903282?k=20&m=1256903282&s=170667a&w=0&h=LTH8HOGLTl21Z50lfWr4LUToan7KRsJ5jc1tVu9dzUk=);
    visibility: visible;
  }
}
/* 




*/
// Desktop View
@media (min-width: $desktopSize) {
  .LandingContainer {
    .row {
      .leftSide {
        .LandingPageName {
          color: #162c49;
          margin-top: 10%;
        }
        .ButtonTabs {
          margin-top: 12%;
        }
        .InputFields {
          margin-top: 10%;
          input {
            width: 27rem;
          }
        }
        .CreateJoinButton {
          width: 27rem;
          border-radius: 50px;
        }
      }
    }
  }
  .column {
    float: left;
    width: 50%;
    .LandingPageImg {
      // background-image: url(https://media.istockphoto.com/vectors/geometry-minimalist-artwork-poster-with-simple-shape-and-blue-vector-id1256903282?k=20&m=1256903282&s=170667a&w=0&h=LTH8HOGLTl21Z50lfWr4LUToan7KRsJ5jc1tVu9dzUk=);
    }
  }
  .column2 {
    float: left;
    height: 100%;
    width: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(https://media.istockphoto.com/vectors/geometry-minimalist-artwork-poster-with-simple-shape-and-blue-vector-id1256903282?k=20&m=1256903282&s=170667a&w=0&h=LTH8HOGLTl21Z50lfWr4LUToan7KRsJ5jc1tVu9dzUk=);
    visibility: visible;
  }
}
